* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.tab-icon {
    width: 80px;
    height: 80px;
  }
body {
    max-width: 100%;
    /* font-size: 15px; */
    background: #555555;
    height: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

.container {
    display: flex;
    padding: 10px;
}

.container a img {
    margin-left: 50px;
    flex: 1;
}

.main-menu {
    flex: 2;
    justify-content: flex-end;
    display: flex;
    z-index: 1;
    margin-top: 10px;
}

.main-menu li {
    list-style: none;
    padding: 0;
    font-size: 16px;
    position: relative;
}

.main-menu li a {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.main-menu li a:hover {
    color: #ea8024;
    background: transparent;
}

.main-menu li button {
    background: transparent;
    color: #fff;
    border: none;
    font-size: 15px;
    vertical-align: inherit;
    outline: none;
}

.main-menu ul.sub-menu {
    position: absolute;
    background-color: #555555;
    padding: 0px 0px;
    list-style: none;
    width: 190px;
    display: none;
    border-radius: 10px;
}

.main-menu li:hover ul.sub-menu {
    display: block;
}

.sub-menu li a:hover {
    color: #ea8024;
    background: transparent;
}

.sub-menu li a {
    padding: -3px 15px;
    text-transform: none;
    color: black;

}

.banner {
    position: relative;
    width: 100%;
    height: 400px;
    z-index: 0;

}

.banner-slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slider-image {
    position: absolute;
    width: 100%;
    height: 400px;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.slider-image.active {
    opacity: 1;
}

.group-list {
    max-width: 100%;
}
footer {
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px 0;
  }
.title-list {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    /* margin-left: 100px; */
    font-size: 30px;
    padding: 30px ;
}

.title-list h2 {
    margin-left: 20px;
   
    
    border-bottom: 1px solid black;
}

.group-list {
    max-width: 1180px;
    margin: 0 auto;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* 4 cột với chiều rộng bằng nhau */
    grid-template-rows: repeat(2, auto);
    /* 2 dòng */
    grid-gap: 20px;
    /* Khoảng cách giữa các card */
    justify-items: center;
}
.card {
    width: 100%;
  }
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-body a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333333;
}
.card:hover{
    transform: scale(1.05); /* Phóng to ảnh lên 1.2 lần */
    transition: transform 0.3s ease; /* Thêm hiệu ứng chuyển động */
   
  }
  .card-text{
    color: red;
    font-size: 20px;
  }
  footer{
    margin-top: 20px;
  }
/* phần Giới thiệu */
.introduce {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 90px;
}

.header-navigate {
    background: #F8F8F8;
    height: 20px;
}

.header-navigate ul {
    display: flex;
    list-style: none;
    padding: 0px 5px;
}

.header-navigate ul li {
    padding: 0 5px;
}

.header-navigate ul li a {
    color: black;

    text-decoration: none;
}

.row p {
    font-size: 20px;
}

.photo {
    display: block;
    /* max-width: 40%;
    max-height:  40%;  */
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* and giới thiệu */
/* SP Trung Nguyên */
.bannerSP img{
    position: relative;
    width: 100%;
    height: 350px;
    z-index: 0;
}
.body-container{
    max-width: 1180px;
    margin: 0 auto;
}
.link a{
    text-decoration: none;
    color: #3E3E3E;
}
.box-tile{
    display: flex;
    padding: 3px 0px;
    border: 1px solid #efefef;
    width: 100%;
    background-color: #f3f3f3;
}
.table{
    display: block;
}
.box-tile h2{
    font-size: 20px;
    color: #161616;
    text-transform: uppercase;
    padding: 10px 5px 0 10px;
    margin: 0 0 10px;
    display: inline-block;
}
.box-tile p{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    vertical-align: middle;
    font-size: 12px;
    color: #888;
}
.main-container{
    display: flex;
    margin-top: 20px;
}
.item{
    display: block;
    margin-right: -20px;
}
.filter-destop h3{
    max-width: 260px;
    background: #333333;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    text-transform: uppercase;
    font-size: 15px;
}
.filter-box{
    max-width: 260px;
    margin-top: 5px;
    background: #f3f3f3;
    border: 1px solid #efefef;
    padding: 0px 10px 5px;
}
.from-1 li {
    list-style: none;
}
.from-1 li a{
    text-decoration: none;
    color: #333333;
    font-size: 16px;
}
.from_{
    margin-top: 10px;
}
.search-box{
    display: flex;
}
.search-box input[type="text"]{
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.search-box button[type=button]{
   background-color: black;
}
.filter-box h3{
    text-transform: inherit;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px;
    border-bottom: 1px dotted #CBCBCB;
}
.filter-box ul{
    margin-left: -30px;
}
.filter-box ul li{
   font-size: 15px;
}

.view-more{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-more button{
    box-shadow: #161616;
    width: 200px;
    height: 50px;
    background-color: #333333;
    color: white;
}